.cards {
    display: flex;
    flex-direction: column;
    gap: 50px;
    @media (width <= $breakpoint-md) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--spacing-md);
        
    }

    @media (width <= $breakpoint-sm) {
        display: flex;
        flex-direction: column;
        gap: 100px;
    }
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-md);
    align-items: center;
    row-gap: 50px;

    &:nth-child(even) {
        .card__content{
            order: -1;
        }
    }

    @media (width <= $breakpoint-md) {
        display: flex;
        flex-direction: column;
        gap: 32px;

        &:nth-child(even) {
            .card__content{
                order: unset;
            }
        }
    }

}

.card__media {
    aspect-ratio: 1680/945;
    
    
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        border-radius: 16px;
    }
}


.card__content{
    align-self: center;

    h3{
        font-size: typo(16px);
        font-weight: 600;
        font-family: var(--font-primary);
        margin: 0;
    }

    p{
        font-family: var(--font-primary);
        font-size: typo(24px, 32px);
        font-weight: 300;
        margin: 16px 0 24px 0;
        line-height: 150%;
    }

    .tag{
        font-size: typo(18px);
        margin: 0 0 32px 0;

    }
}

.button{
    padding: 8px 16px;
    background-color: var(--color-primary);
    font-family: var(--font-primary);
    line-height: 150%;
    font-weight: bold;
    color: var(--color-black);
    border-radius: 100px;
    display: inline-flex;
    align-items: center;
    gap: 8px;

    &:hover{
        text-decoration: none;
        color: var(--color-white);
    }
        
}


