
.swiper-slide {
    background-color: var(--color-primary);
    min-height: 40vh;

}

.swiper-pagination {
        // retire le position absolute de d’élément
        position: static;
        --swiper-pagination-bullet-width: 20px;
        --swiper-pagination-bullet-height: 20px;
        --swiper-pagination-color: var(--color-white);
        --swiper-pagination-bullet-border-radius: 0;
        --swiper-pagination-bullet-horizontal-gap: 10px;
        margin-top: 50px;        
} 

.swiper-pagination-bullet {
      transform: rotate(45deg);
}

 