.hero {
    position: relative;
    height: 80vh;

    .wrapper {
        height: 100%;
    }

    @media (width <= $breakpoint-md) {
        height: 60vh;
    }

    @media (width <= $breakpoint-sm) {
        height: 40vh;
    }
}

.hero__content {
    height: 100%;
    display: flex;
    align-items: end;

    h1 {
        font-size: typo(40px, 80px);
    }
}

.hero__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
