.reactif{
    background-color: var(--color-primary);

    h2{
        color: var(--color-black);
        margin: 0 0 100px 0;
    }

    &:nth-child(even) {
        .card__content{
            order: unset;
        }
    }
    
}

.card-rp{
    color: var(--color-black);
}

.button-rp{
    background-color: var(--color-white);

    &:hover{
        background-color: var(--color-hover);
        
    }
}

